<form class="user">
  <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <label for="name" class="form-label">Name</label>

      <input
        type="text"
        class="form-control form-control-user"
        id="name"
        name="name"
        [(ngModel)]="newProduct.name"
        placeholder="Product Name"
      />
    </div>
    <div class="col-sm-6">
      <label for="quantity" class="form-label">Quantity</label>

      <input
        type="text"
        name="quantity"
        class="form-control form-control-user"
        id="quantity"
        [(ngModel)]="newProduct.quantity"
        placeholder="Product Quantity"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <label for="price" class="form-label">Price (unit)</label>

      <input
        type="text"
        name="price"
        [(ngModel)]="newProduct.price"
        class="form-control form-control-user"
        id="price"
        placeholder="Product Price ($)"
      />
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <label for="category" class="form-label">Category</label>

      <select
        id="category"
        name="category"
        [(ngModel)]="newProduct.category"
        class="form-select form-select-lg mb-3"
      >
        <option value="">Select a Category</option>

        <option value="clothes">Clothes</option>
        <option value="shoes">Shoes</option>
        <option value="gym">Gym</option>
      </select>
    </div>
  </div>
  <app-card-danger [arr]="msg"></app-card-danger>
  <app-card-success [msg]="msgSucesso"></app-card-success>

  <a
    *ngIf="newProduct.id === 0"
    (click)="saveProduct()"
    class="btn btn-primary btn-user btn-block"
  >
    Save Product
  </a>
  <hr />
  <a
    *ngIf="newProduct.id !== 0"
    (click)="editProduct()"
    class="btn btn-google btn-user btn-block"
  >
    Edit Product
  </a>
</form>
