<!-- <h5>Products ({{ products.totalElements }})</h5>

<table class="table table-dark" *ngIf="!products.empty">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">REMOVE</th>
      <th scope="col">EDIT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products.content">
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.quantity }}</td>
      <td>
        <button class="btn btn-primary" (click)="deleteProduct(p.id)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="editProduct(p.id)">
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example" *ngIf="!products.empty">
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      (click)="getProducts(products.number - 1)"
      *ngIf="products.number != 0"
    >
      <a class="page-link">Previous</a>
    </li>

    <li
      class="page-item disabled"
      (click)="getProducts(products.number - 1)"
      *ngIf="products.number == 0"
    >
      <a class="page-link">Previous</a>
    </li>
    <div *ngFor="let n of numbers">
      <li
        class="page-item active"
        *ngIf="products.number == n"
        (click)="getProducts(n)"
      >
        <a class="page-link">{{ n + 1 }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="products.number != n"
        (click)="getProducts(n)"
      >
        <a class="page-link">{{ n + 1 }}</a>
      </li>
    </div>

    <li class="page-item" (click)="getProducts(products.number + 1)">
      <a class="page-link" *ngIf="!products.last">Next</a>
    </li>
  </ul>
</nav> -->
<div class="card-body">
  <div class="table-responsive">
    <table
      class="table table-bordered text-center"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <!-- <th scope="col">ID</th> -->
          <th scope="col">NAME</th>
          <th scope="col">PRICE</th>
          <th scope="col">QUANTITY</th>
          <th scope="col" *ngIf="isAdmin">REMOVE</th>
          <th scope="col">EDIT</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of products.content">
          <!-- <th scope="row">{{ p.id }}</th> -->
          <td>{{ p.name }}</td>
          <td>{{ p.price }}</td>
          <td>{{ p.quantity }}</td>
          <td *ngIf="isAdmin">
            <button
              class="btn btn-danger btn-circle"
              (click)="deleteProduct(p.id)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-info btn-circle" (click)="editProduct(p.id)">
              <i class="fas fa-info-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example" *ngIf="!products.empty">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          (click)="getProducts(products.number - 1)"
          *ngIf="products.number != 0"
        >
          <a class="page-link">Previous</a>
        </li>

        <li
          class="page-item disabled"
          (click)="getProducts(products.number - 1)"
          *ngIf="products.number == 0"
        >
          <a class="page-link">Previous</a>
        </li>
        <div *ngFor="let n of numbers">
          <li
            class="page-item active"
            *ngIf="products.number == n"
            (click)="getProducts(n)"
          >
            <a class="page-link">{{ n + 1 }}</a>
          </li>
          <li
            class="page-item"
            *ngIf="products.number != n"
            (click)="getProducts(n)"
          >
            <a class="page-link">{{ n + 1 }}</a>
          </li>
        </div>

        <li class="page-item" (click)="getProducts(products.number + 1)">
          <a class="page-link" *ngIf="!products.last">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
