<form>
  <h1 class="text-center">New User</h1>
  <div class="mb-3 col-3">
    <label for="name" class="form-label">NAME</label>
    <input
      name="name"
      type="text"
      [(ngModel)]="user.name"
      class="form-control"
      id="name"
      aria-describedby="nameHelp"
    />
  </div>
  <div class="mb-3 col-3">
    <label for="username" class="form-label">USERNAME</label>
    <input
      name="username"
      type="text"
      [(ngModel)]="user.userName"
      class="form-control"
      id="username"
      aria-describedby="usernameHelp"
    />
  </div>
  <div class="mb-3 col-3" *ngIf="user.id === 0">
    <label for="password" class="form-label">PASSWORD</label>
    <input
      name="password"
      type="password"
      [readonly]="user.id != 0"
      [(ngModel)]="user.password"
      class="form-control"
      id="password"
      aria-describedby="passwordHelp"
    />
  </div>
  <div class="mb-3 col-3">
    <label for="password" class="form-label">GOAL ($)</label>
    <input
      name="monthlyGoal"
      type="text"
      [(ngModel)]="user.monthlyGoal"
      class="form-control"
      id="monthlyGoal"
      aria-describedby="monthlyGoalHelp"
    />
  </div>
  <div class="mb-3 col-3">
    <label for="role" class="form-label">ROLE</label>

    <select
      [(ngModel)]="user.rolesName[0]"
      class="custom-select custom-select-sm form-control form-control-sm"
      name="role"
    >
      <option [value]="'user'">USER</option>
      <option [value]="'admin'">ADMIN</option>
    </select>
  </div>
  <app-card-danger [arr]="erros"></app-card-danger>
  <app-card-success [msg]="msgSucesso"></app-card-success>

  <button type="button" class="btn btn-primary m-2" (click)="reset()">
    Reset
  </button>

  <button
    type="button"
    class="btn btn-primary m-2"
    *ngIf="user.id === 0"
    (click)="submit()"
  >
    Submit
  </button>
  <button
    type="button"
    class="btn btn-primary m-2"
    *ngIf="user.id !== 0"
    data-bs-target="#modalConfirm"
    data-bs-toggle="modal"
  >
    Edit
  </button>
  <button
    type="button"
    class="btn btn-primary m-2"
    *ngIf="user.id !== 0"
    data-bs-target="#modalPassword"
    data-bs-toggle="modal"
  >
    Change Password
  </button>
</form>
<div class="col-xl-3 col-md-6 mb-4" *ngIf="user.id !== 0">
  <app-percentual-bar [percentual]="percentual"></app-percentual-bar>
</div>
<div class="row" *ngIf="user.id !== 0">
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h6 class="m-0 font-weight-bold text-primary">Yearly Sales</h6>
        <select class="select_year_char" (change)="search()" [(ngModel)]="year">
          <option [value]="2024">2024</option>
          <option [value]="2023">2023</option>
          <option [value]="2022">2022</option>
        </select>
        <div class="dropdown no-arrow"></div>
      </div>
      <!-- Card Body -->

      <div class="card-body">
        <div class="chart-area">
          <!-- <app-bar-chart
            [functionParam]="getMonthlyIncome"
            [data]="chartData"
            [yAxisLabel]="'Sales'"
            [xAxisLabel]="'Month'"
          ></app-bar-chart> -->

          <ngx-charts-bar-vertical
            [view]="[1000, 400]"
            [results]="chartData"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Month'"
            [yAxisLabel]="'Sales'"
            (select)="setPercentual($event.value)"
          >
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="modalConfirm"
  tabindex="-1"
  aria-labelledby="modalConfirmLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmLabel">Confirmation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h1>Please confirm your password...</h1>

        <div class="mb-3 col-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="passwordConfirm"
            type="password"
            [(ngModel)]="passwordConfirm"
            class="form-control"
            id="passwordConfirm"
            aria-describedby="passwordConfirmHelp"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="checkPassword()"
          data-bs-dismiss="modal"
        >
          Confirm Password
        </button>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          NO
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalPassword"
  tabindex="-1"
  aria-labelledby="modalPasswordLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPasswordLabel">RESET PASSWORD</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h1>Please confirm your password...</h1>

        <div class="mb-3 col-8">
          <label for="password" class="form-label">New User's password</label>
          <input
            name="newpassword"
            type="password"
            [(ngModel)]="newPassword"
            class="form-control"
            id="newpassword"
            aria-describedby="newpasswordHelp"
          />
        </div>

        <div class="mb-3 col-8">
          <label for="password" class="form-label">Confirm Your Password</label>
          <input
            name="passwordConfirm"
            type="password"
            [(ngModel)]="passwordConfirm"
            class="form-control"
            id="passwordConfirm"
            aria-describedby="passwordConfirmHelp"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="changePassword()"
        >
          Change Password
        </button>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
