<div class="card-body">
  <h5>Sales ({{ page.totalElements }})</h5>
  <div class="table-responsive">
    <table
      *ngIf="!page.empty"
      class="table table-bordered text-center"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">BUYER</th>
          <th scope="col" *ngIf="isAdmin">OWNER</th>
          <th scope="col">DATE</th>
          <th scope="col">PRODUCTS</th>
          <th scope="col">Total</th>

          <th scope="col" *ngIf="isAdmin">REMOVE</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of page.content">
          <th scope="row">{{ p.id }}</th>
          <td>{{ p.buyer }}</td>
          <td *ngIf="isAdmin">{{ p.owner }}</td>
          <td>{{ p.date | date : "dd/MM/yyyy HH:mm" }}</td>

          <td>
            <button
              class="btn btn-primary"
              data-bs-target="#modalProducts"
              data-bs-toggle="modal"
              (click)="getProductSale(p)"
            >
              {{ p.products.length }} items
            </button>
          </td>
          <td>
            <p>$ {{ p.totalPrice }}</p>
          </td>

          <td *ngIf="isAdmin">
            <button
              class="btn btn-danger btn-circle"
              data-bs-target="#modalConfirm"
              data-bs-toggle="modal"
              (click)="setCancelSale(p.id)"
            >
              <i class="bi bi-trash"></i>
            </button>
            <!-- <button
              class="btn btn-danger btn-circle"
              (click)="cancelSale(p.id)"
            >
              <i class="bi bi-trash"></i>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example" *ngIf="!page.empty">
      <ul class="pagination justify-content-center">
        <li
          class="page-item previous"
          (click)="getSales(page.number - 1)"
          *ngIf="page.number !== 0"
        >
          <a class="page-link">Previous</a>
        </li>

        <li
          class="page-item previous disabled"
          (click)="getSales(page.number - 1)"
          *ngIf="page.number == 0"
        >
          <a class="page-link">Previous</a>
        </li>
        <div *ngFor="let n of numbers">
          <li
            class="page-item active"
            *ngIf="page.number == n"
            (click)="getSales(n)"
          >
            <a class="page-link">{{ n + 1 }}</a>
          </li>
          <li class="page-item" *ngIf="page.number != n" (click)="getSales(n)">
            <a class="page-link">{{ n + 1 }}</a>
          </li>
        </div>

        <li class="page-item" (click)="getSales(page.number + 1)">
          <a class="page-link" *ngIf="!page.last">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div
  class="modal fade"
  id="modalProducts"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalProductsLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalProductsLabel">
          Include a new Product
        </h3>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <th>Name</th>
            <th>Quantity</th>
          </thead>
          <tbody>
            <tr *ngFor="let p of productSales">
              <td>{{ p.productName }}</td>
              <td>{{ p.quantity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalConfirm"
  tabindex="-1"
  aria-labelledby="modalConfirmLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmLabel">Confirmation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"><h1>Are you sure ?</h1></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="cancel()"
          data-bs-dismiss="modal"
        >
          YES
        </button>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          NO
        </button>
      </div>
    </div>
  </div>
</div>
