<form>
  <div class="container_price">
    <h1>$ {{ totalPrice }}</h1>
  </div>

  <div class="mb-3 col-3">
    <label for="buyer" class="form-label">Buyer</label>
    <input
      name="buyer"
      type="text"
      [(ngModel)]="newSale.buyer"
      class="form-control"
      id="buyer"
      aria-describedby="buyerHelp"
    />
  </div>
  <div class="mb-3 col-3">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Escolha uma data"
        readonly
        (dateChange)="onDateSelected($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

    <div class="12hr-example">
      <input
        placeholder="Period of the day"
        aria-label="12hr format"
        class="form-control"
        [ngxTimepicker]="default"
        [(ngModel)]="texto"
        [ngModelOptions]="{ standalone: true }"
      />
      <ngx-material-timepicker #default></ngx-material-timepicker>
    </div>
  </div>
  <div class="alert alert-danger col-3" *ngIf="error" role="alert">
    <ul>
      <li *ngFor="let m of msg">{{ m }}</li>
    </ul>
  </div>
  <div *ngFor="let m of msg" class="alert alert-danger" role="alert">
    <p>{{ m }}</p>
  </div>

  <button type="button" (click)="resetSale()" class="btn btn-primary m-2">
    Reset
  </button>

  <button type="button" class="btn btn-primary m-2" (click)="saveSale()">
    Submit Sale
  </button>

  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    See Products
  </button>
</form>

<table class="table table-bordered" *ngIf="!products.empty">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">SELECT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products.content">
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.quantity }}</td>
      <td>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modalnewProduct"
          (click)="selectProduct(p)"
        >
          <i class="bi bi-hand-thumbs-up-fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example" *ngIf="!products.empty">
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      (click)="getProducts(products.number - 1)"
      *ngIf="products.number != 0"
    >
      <a class="page-link">Previous</a>
    </li>

    <li class="page-item disabled" *ngIf="products.number == 0">
      <a
        class="page-link"
        (click)="getProducts(products.number - 1)"
        tabindex="-3"
        >Previous</a
      >
    </li>
    <div *ngFor="let n of numbers">
      <li
        class="page-item active"
        *ngIf="products.number == n"
        (click)="getProducts(n)"
      >
        <a class="page-link">{{ n + 1 }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="products.number != n"
        (click)="getProducts(n)"
      >
        <a class="page-link">{{ n + 1 }}</a>
      </li>
    </div>

    <li class="page-item" (click)="getProducts(products.number + 1)">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <th>Product</th>
            <th>Quantity</th>
          </thead>

          <tbody>
            <tr *ngFor="let p of newSale.products">
              <td>{{ p.productName }}</td>
              <td>{{ p.quantity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalnewProduct"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalnewProductLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalnewProductLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3 col-3">
          <label for="id" class="form-label">ID PRODUCT</label>
          <input
            name="id"
            type="text"
            readonly="true"
            class="form-control"
            id="id"
            [(ngModel)]="productSale.productId"
            aria-describedby="quantityHelp"
          />
        </div>
        <div class="mb-3 col-3">
          <label class="form-label">NAME</label>
          <input
            type="text"
            readonly="true"
            class="form-control"
            [(ngModel)]="productSale.productName"
            aria-describedby="quantityHelp"
          />
        </div>
        <div class="mb-3 col-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input
            name="quantity"
            type="text"
            class="form-control"
            id="quantity"
            [(ngModel)]="productSale.quantity"
            aria-describedby="quantityHelp"
          />
        </div>

        <button type="button" (click)="addProduct()" class="btn btn-primary">
          Add Product
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
