<form>
  <h1 class="text-center">General Metrics</h1>
  <div class="mb-3 col-3">
    <label for="name" class="form-label">General Monthly Sales Goal($)</label>
    <input
      name="name"
      type="text"
      [(ngModel)]="metrics.monthlyGoal"
      class="form-control"
      id="name"
      aria-describedby="nameHelp"
    />
  </div>

  <app-card-danger [arr]="erros"></app-card-danger>
  <app-card-success [msg]="msgSucesso"></app-card-success>

  <button type="button" class="btn btn-primary m-3" (click)="save()">
    Save
  </button>
</form>
