/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "template/sb-admin-2.css";
@import "template/fontawesome-free/css/all.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container_price {
  display: flex;
  justify-content: center;
  color: green;
}
